<nav class="navbar navbar-dark bg-primary navbar-primary navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
      <strong>Book Search</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn btn-info" routerLink="/">Home</a>
        </li>
        <li class="nav-item ms-1" *ngIf="user">
          <a class="btn btn-info" routerLink="/favourites">Favourite Books</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a style="cursor: pointer;" class="btn btn-info" (click)="handleLoginOrSignOut()">
            {{ user ? "Sign Out" : "Login" }}
          </a>
        </li>
        <li *ngIf="!user" class="nav-item ms-1">
          <a style="cursor: pointer;" routerLink="/sign-up" class="btn btn-info">
            Sign Up
          </a>
        </li>
      </ul>
      <form class="d-flex ms-3" role="search">
        <input #searchInput class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-info" (click)="onSearch(searchInput.value)" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
