<section class="vh-100">
  <div *ngIf="!loading" class="loading-container my-3">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div *ngIf="loading" class="container-fluid h-custom main-container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="container-fluid w-75 header pt-3">
        <div class="d-flex flex-column align-items-start mt-1">
          <div class="d-flex align-items-center">
            <span id="line-span"></span>
            <h2 class="fw-bold px-1">Login</h2>
          </div>
          <p>
            Login to get access to our library of books.
            <br />
          </p>
        </div>
        <hr />
      </div>
      <div
        *ngIf="error"
        class="container-fluid w-75 alert alert-danger mt-2 alert-dismissible fade show"
        role="alert"
      >
        <strong>{{ error }}</strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <div
        *ngIf="signedUpMessage"
        class="container-fluid w-75 alert alert-success mt-2 alert-dismissible fade show"
        role="alert"
      >
        <strong>{{ signedUpMessage }}</strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="form">
          <div data-mdb-input-init class="form-outline mb-4">
            <input
              type="email"
              id="identifier"
              formControlName="identifier"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
            />
            <label class="form-label" for="identifier">Email address</label>
            <div
              *ngIf="
                form.controls['identifier'].invalid &&
                (form.controls['identifier'].dirty ||
                  form.controls['identifier'].touched)
              "
            >
              <div
                *ngIf="form.controls['identifier'].errors?.['required']"
                class="text-danger"
              >
                Email is required.
              </div>
              <div
                *ngIf="form.controls['identifier'].errors?.['email']"
                class="text-danger"
              >
                Please enter valid email address.
              </div>
            </div>
          </div>

          <div class="form-outline mb-3">
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control form-control-lg"
              placeholder="Enter password"
            />
            <label class="form-label" for="password">Password</label>
            <div
              *ngIf="
                form.controls['password'].invalid &&
                (form.controls['password'].dirty ||
                  form.controls['password'].touched)
              "
            >
              <div
                *ngIf="form.controls['password'].errors?.['required']"
                class="text-danger"
              >
                Password is required.
              </div>
              <div
                *ngIf="form.controls['password'].errors?.['minlength']"
                class="text-danger"
              >
                Password must be at least 8 characters long.
              </div>
            </div>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
              (click)="submit()"
            >
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account?
              <a href="#!" routerLink="/sign-up" class="link-danger"
                >Register</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
