<div class="container-xxl py-5 hero-header mt-5 mb-5">
  <div class="container my-5 py-5">
    <div class="row align-items-center g-5">
      <div class="col-lg-6 text-center text-lg-start">
        <h1 class="display-3 text-dark animated slideInLeft">
          Search Our <br />Books Database
        </h1>
        <p class="text-dark animated slideInLeft mb-4 pb-2">
          Discover your next favorite book with Book Finder, the ultimate app
          for book lovers! Our powerful search tool helps you explore a vast
          collection of books with ease, whether you’re looking for bestsellers,
          classics, or hidden gems. Save your top picks to your Favorites for
          quick access anytime, and keep your personal library organized. Want
          to remove a book? You can do so securely—just log in to manage your
          collection. With a seamless and user-friendly experience, Book Finder
          makes discovering and keeping track of books effortless. Start
          exploring today and build your perfect reading list!
        </p>
      </div>
      <div class="col-lg-6 text-center text-lg-end overflow-hidden">
        <img class="img-fluid" src="img_1.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
